.header {
    width: 100%;
    min-height: 900px;
    background: url(../images/header-background.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 100px;
    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__nav-link {
        @include center;
        padding: 15px 20px;
        color: $linkColor;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        letter-spacing: 0.36px;
        &_hover:hover,
        &_active {
            text-decoration: none;
            color: $linkColor;
            height: 42px;
            box-shadow: 0 0 10px $shadowColor;
            background-color: $hoverColor;
            border-radius: 3em;
        }
    }
    &__logo {
        margin: auto;
        @include center;
        flex-direction: column;
        color: $mainColor;
        font-weight: 900;
        font-family: 'Helvetica Neue', sans-serif;
        @include blockCenter;
        text-decoration: none;
    }
    &__logo-img {
        margin-bottom: 15px;
    }
    
    &__select-list {
        display: block;
        width: 130px;
        height: 42px;
        color: #191c1f;
        background-color: #eef1f2;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        letter-spacing: 0.36px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
        border-radius: 25px;
    }
    &__select-menu {
        background-color: #eef1f2;
        min-width: 130px;
    }
    &__select-flag-icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-right: 5px;
    }

}



@media (max-width: 1200px) and (min-width: 992px) { 
    .header {
        &__nav-link {
            font-size: 16px;
            padding: 15px 10px;
        }
    }
}

@media (max-width: 768px) { 
    .header {
        min-height: 100vh;
        padding: 40px;
        background-position: center;
        &__navbar {
            position: relative;
            top: 80px;
        }
        &__nav-list {
            margin-top: 20px;
            display: block;
            width: 100%;
        }
        &__nav-link {
            height: 40px;
            padding: 0;
            
            &_hover:hover,
            &_active {
                background-color: rgba(255, 255, 255, .6);
                box-shadow: none;
                border-radius: 0;
            }
            &_active {
                background-color: rgba(255, 255, 255, 1);
            }
        }
        &__select-list {
            font-size: 14px;
            width: 110px;
            height: 35px;
            position: absolute;
            top: 10px;
            right: 0;
        }
       
        &__logo {
            top: 80px;
            font-size: 0px;
            z-index: 1;
        }
        &__logo-img {
            width: 35%;
            height: 35%;
            
        }
    }
}

@media (max-width: 576px) { 
    .header {
        padding: 40px 15px;
    }
}




